@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
* {
    margin: 0;
    padding: 0;
    user-select: none;
}

header {
    margin-top: 10px;
    margin-left: 35px;
    display: flex;
    background-color: black;
}
body {
    background-color: black;
}

.corner {
    display: flex;
}

.corner h1 {
    font-size: 30px;
    color: #fff;
    font-family: 'Quicksand';
    margin-left:50px;
    margin-top: 6px;
    letter-spacing: 2px;
    text-shadow:0px 0px 30px #0cad08;
}
.corner a img {
    width: 40px;
}
.navbar {
    margin-top: 6px;
    display: flex;
    overflow: hidden;
    font-family: 'Quicksand';
    margin-left: 80px;
}
.navbar a {
    float: left;
    font-size: 17px;
    color: #fff;
    text-align: center;
    text-decoration: none;
}
.dropdown {
    margin-left: 25px;
    float: left;
}
.navbar .button {
    font-size: 20px ;
    margin-left: 35px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;

}
.navbar .button:hover{
    background-color: #6DAE52;
    border-radius: 10px;
    color: #fff;

}
.dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: inherit;
    margin: 0;
    background-color: black;
    color: #fff;
}
.dropdown:hover .dropbtn {
    background-color: #6DAE52;
    border-radius: 10px;
}

.navbar a:hover {
    color: #6DAE52;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;

    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

}
.dropdown:hover .dropdown-content {
    display: block;
}
.bar {
    display: flex;
    height: 3px;
    width: 98%;
    background-color: #0c0c0c;
    margin: 0 auto;
    margin-top: 10px;
}
.mapBox {
    margin-top: 40px;
    margin-right: 40px;
}
.mapBox h1 {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Quicksand';
    color: #FFFFFF;
}
#map {
    height: 200px;
    border-radius: 15px;
    margin:0 auto;
}
.content {
    display: flex;
    margin-left: 60px;
}
.leftText {
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 200px;
    font-family: 'Quicksand';
    font-size: 22px;
}
.leftText h1 {
    color: #fff;
    padding-bottom: 20px;
}
.leftText h3 {
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
}
.leftText p {
    color: #fff;
}
.leftText span p {
    color: #6DAE52;
}
#open h1 {
    font-family: 'Tilt Prism', cursive;
    font-size: 70px;
    padding-top: 100px ;
    color: #6DAE52;
    animation: letter-flicker-green 3s linear infinite;
}
#close h1 {
    font-family: 'Tilt Prism', cursive;
    font-size: 70px;
    padding-top: 100px ;
    color: #920303;
    animation: letter-flicker-red 3s linear infinite;

}
@keyframes letter-flicker-green {
    0% {
      opacity:0.1;
      text-shadow: 0px 0px 29px #8afa5e;
    }
    2% {
      opacity:0.1;
      text-shadow: 0px 0px 29px #c2faab;
    }
    4% {
      opacity:1;
      text-shadow: 0px 0px 29px #a5ff81;
    }
    
    
    19% {
      opacity:1;
      text-shadow: 0px 0px 29px #48ff00;
    }
    21% {
      opacity:0.1;
      text-shadow: 0px 0px 29px #c2faab;
    }
    23% {
      opacity:1;
      text-shadow: 0px 0px 29px #c2faab;
    }
    
    80% {
      opacity:1;
      text-shadow: 0px 0px 29px #7aff45;
    }
    83% {
      opacity:0.4;
      text-shadow: 0px 0px 29px #c2faab;
    }
    87% {
      opacity:1;
      text-shadow: 0px 0px 29px #7fff4c;
    }
  }
  @keyframes letter-flicker-red {
    0% {
      opacity:0.1;
      text-shadow: 0px 0px 29px #920303;
    }
    2% {
      opacity:0.1;
      text-shadow: 0px 0px 29px #920303;
    }
    4% {
      opacity:1;
      text-shadow: 0px 0px 29px #d40404;
    }
    
    
    19% {
      opacity:1;
      text-shadow: 0px 0px 29px #920303;
    }
    21% {
      opacity:0.1;
      text-shadow: 0px 0px 29px #be0303;
    }
    23% {
      opacity:1;
      text-shadow: 0px 0px 29px #cc0000;
    }
    
    80% {
      opacity:1;
      text-shadow: 0px 0px 29px #920303;
    }
    83% {
      opacity:0.4;
      text-shadow: 0px 0px 29px #920303;
    }
    87% {
      opacity:1;
      text-shadow: 0px 0px 29px #920303;
    }
  }